body {
	background-color: green;
	font-family: "Lucida Console", Monaco, monospace;
}

.card {
	position: absolute;
	border: 2px solid #000000;
	border-radius: 5px;
	width: 120px;
	height: 160px;
	padding: 5px 5px;
	font-size: 18px;
	font-weight: bold;
	background-color: #f5f5ff;
	
	/* Disable text selection */
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	
	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
}

.flipped {
	background-image: url("images/cardback.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	
	/* Hide the text. */
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.p0 {
	top: 500px !important;
	left: 750px !important;
}
.p1 {
	top: 300px !important;
	left: 600px !important;
}
.p2 {
	top: 100px !important;
	left: 750px !important;
}
.p3 {
	top: 300px !important;
	left: 900px !important;
}

#dialog {
	border: 2px solid #000000;
	border-radius: 5px;
	position: fixed;
	z-index: 20;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -150px;
	width: 300px;
	height: 200px;
	background-color: #f5f5ff;
	font-size: 16px;
	line-height: 150%;
}

#dialog #dialog_text {
	position: absolute;
	top: 5%;
	left: 5%;
	width: 90%;
}

#dialog #dialog_text table tr td {
	padding-left: 15px;
}

#dialog #dialog_text .bidder {
	color: red;
}

#dialog #input_wrapper {
	position: absolute;
	bottom: 10px;
	width: 100%;
}

#dialog #input_wrapper form {
	position: relative;
	text-align: center;
}

#scoreboard {
	border: 2px solid #000000;
	border-radius: 5px;
	position: fixed;
	z-index: 0;
	top: 0%;
	left: 100%;
	margin-top: 25px;
	margin-left: -400px;
	width: 375px;
	height: auto;
	background-color: #f5f5ff;
	font-size: 14px;
	line-height: 110%;
	padding-top: 5px;
	text-align: center;
}

#scoreboard table {
	width: 100%;
	padding-top: 10px;
}

#scoreboard table tr:first-child td {
	font-weight: bold;
	text-decoration: underline;
}
#scoreboard table tr:nth-child(2) td {
	color: blue;
}
#scoreboard table tr:nth-last-child(2) td {
	border-bottom: 2px solid black;
}
#scoreboard table tr:last-child td {
	font-weight: bold;
	font-size: 14px;
}

.hidden {
	display: none;
}